<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Mi Perfil</h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle" [src]="imagenUsuario" alt="User profile picture">
              <input type="file" *ngIf="tokenService.isLogged()" (change)="onFileSelected($event)" />
              <button class="btn btn-primary" *ngIf="tokenService.isLogged()" (click)="uploadPhoto()">Cambiar foto</button>
            </div>
            <h3 class="profile-username text-center">{{ nombreUsuario }}</h3>
            <p class="text-muted text-center">{{ getRolUsuario() }}</p>
          </div>
        </div>
        <div class="card card-primary" *ngIf="tokenService.isLogged()">
          <div class="card-header">
            <h3 class="card-title">Información</h3>
          </div>
          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Programa</strong>
            <p class="text-muted">{{ usuarioActual?.programa }}</p>
            <hr>
            <strong><i class="fas fa-map-marker-alt mr-1"></i> Jornada</strong>
            <p class="text-muted">{{ usuarioActual?.jornada }}</p>
            <hr>
            <strong><i class="fas fa-envelope mr-1"></i> Correo</strong>
            <p class="text-muted">{{ usuarioActual?.correo }}</p>
            <hr>
            <strong><i class="fas fa-code mr-1"></i> Programador</strong>
            <p class="text-muted">
                <span class="tag tag-info">Javascript</span>
                <span class="tag tag-primary">Node.js</span>
            </p>
            <hr>
            <strong><i class="far fa-file-alt mr-1"></i> Notas</strong>
            <p class="text-muted">Información del estudiante Uniajc</p>
        </div>

        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
              <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
              <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="./assets/dist/img/user1-128x128.jpg" alt="User Image">
                    <span class="username">
                      <a href="#">Jonathan Burke Jr.</a>
                    </span>
                    <span class="description">Shared publicly - 7:30 PM today</span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique, velit vitae vestibulum sagittis, quam sapien vestibulum mauris, id efficitur metus lectus sed lorem.</p>
                </div>
              </div>
              <div class="tab-pane" id="timeline" *ngIf="tokenService.isLogged()">
                <!-- Timeline content goes here -->
              </div>
              <div class="tab-pane" id="settings" *ngIf="tokenService.isLogged()">
                <!-- Settings content goes here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
