<div class="card">
  <div class="card-header">
    <h3>Nueva Contraseña</h3>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="password">Contraseña Nueva</label>
        <input type="password" class="form-control" [(ngModel)]="nuevaContrasena" name="password" placeholder="Ingresa tu nueva contraseña">
      </div>
      <button type="submit" class="btn btn-primary" (click)="onActualizarContrasena()">Actualizar Contraseña</button>
    </form>
  </div>
</div>
