<div class="app-container" [ngClass]="darkMode ? 'dark-mode' : ''">

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Búsqueda de trámites</h3>
  </div>

  <div class="card-body">
    <div class="form-group">
      <label for="numerosd">Número de trámite:</label>
      <input type="text" class="form-control" id="numerosd" name="numerosd">
    </div>

    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-primary btn-block mb-2" data-toggle="modal" data-target="#busquedaModal">
          Abrir búsqueda
        </button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-primary btn-block mb-2" (click)="descargarConsulta()">
          Descargar PDF
        </button>
      </div>
    </div>

    <div id="detalleConsulta"></div>
    <div class="form-group">
      <div id="visualization"></div>
    </div>

    <!-- Modal de búsqueda -->
    <div class="modal fade" id="busquedaModal" tabindex="-1" role="dialog" aria-labelledby="busquedaModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="busquedaModalLabel">Búsqueda de trámites</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="numerosd">Número de trámite:</label>
              <input type="text" class="form-control" id="numerosd" name="numerosd">
            </div>
            <button type="button" class="btn btn-primary" (click)="buscarConsulta()">Buscar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="timeline-container">
  <div class="timeline">
    <div *ngFor="let consulta of consultas" class="timeline-event" [ngClass]="getEventClass(consulta.estado)">
      <div class="event-icon">
        <i [class]="getIconClass(consulta.estado)"></i>
      </div>
      <div class="event-content">
        <div class="event-header">{{ consulta.estado }}</div>
        <div class="event-type">{{ consulta.tramitesEntity.tiposol }}</div>
        <div class="event-response">{{ consulta.Respuesta }}</div>
        <div class="event-date">{{ consulta.fechaConsulta | date }}</div>
      </div>
    </div>
  </div>
</div>

<button (click)="toggleDarkMode()" class="dark-mode-toggle">
  <i [class]="darkMode ? 'fas fa-sun' : 'fas fa-moon'"></i>
</button>

</div>


