<div *ngIf="TokenService.isAdmin()">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Bienvenido Administrador al sistema de trámites y consultas de la Universidad Antonio José Camacho.</h1>
        <hr class="my-4">
      </div>
    </div>
  </div>
  </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-12" *ngIf="!TokenService.isDirector()">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="far fa-calendar-alt"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Calendario Académico</span>
            <span class="info-box-number"><a routerLink="/dashboard/calendario">Ver Calendario</a></span>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-12" *ngIf="!TokenService.isDirector()">
        <div class="info-box">
          <span class="info-box-icon bg-success"><i class="fas fa-book"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Mis Asignaturas</span>
            <span class="info-box-number"><a routerLink="/dashboard/semestre">Ver Asignaturas</a></span>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-12" *ngIf="!TokenService.isDirector()">
        <div class="info-box">
          <span class="info-box-icon bg-warning"><i class="fas fa-user-graduate"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Mi Perfil</span>
            <span class="info-box-number"><a routerLink="/perfil">Ver Perfil</a></span>
          </div>
        </div>
      </div>
    </div>


    <div class="container" *ngIf="!TokenService.isAdmin()">
      <div id="welcome-jumbotron" class="jumbotron">
        <div class="welcome-message">
          <h1 class="mb-3 text-black">
            Hola, <span class="highlight-text">{{nombreUsuario ? nombreUsuario : 'Bienvenido' }}</span>!
          </h1>
          <p class="highlight-text larger-text" *ngIf="!TokenService.isDirector()">
            Bienvenido al sistema de trámites y consultas de la Universidad Antonio José Camacho.
          </p>
          <div *ngIf="TokenService.isDirector()" p class="lead text-black">Bienvenido Director al sistema</div>
          <hr class="my-4">
          <p>Este es tu espacio.</p>
          <a class="btn btn-primary" href="https://www.uniajc.edu.co/" role="button">Más información</a>
        </div>
      </div>
    </div>




 <!-- Estructura del slider -->
<div class="news-slider">
  <div class="news-item" *ngFor="let noticia of noticias">
    <a [href]="noticia.link">
      <img class="news-image" [src]="noticia.imagen" [alt]="noticia.titulo">
      <div class="news-title">{{ noticia.titulo }}</div>
    </a>
  </div>
</div>

